@import "../abstracts/breakpoints";

.team-panel {
  text-align: center;
  width: 100%;
  padding: 16px;
  margin: 10px 0px 10px 0px;

  .img-profile {
    margin: 0 auto 16px;
    width: 82px;
    height: 82px;
    padding: 4px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .team-name {
    @include bp-lt(medium) {
      font-size: 20px;
    }
  }
}
