@import "../abstracts/breakpoints";

.mat-toolbar-single-row.toolbar {
  padding: 0 1rem !important;
  @include bp-gt(tablet) {
    padding: 0 1.5rem !important;

    .mat-icon-button:not(.img-button) {
      width: 52px;
      height: 52px;
      line-height: 52px;
    }
  }

  @include bp-lt(small) {
    height: 64px;
  }

  @include bp-gt(tabletls) {
    height: 74px;
  }

  .brand {
    color: inherit;
    white-space: nowrap;
    font-size: 18px;

    .brand-logo {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      vertical-align: middle;
    }

    .brand-name {
      font-weight: 700;
      vertical-align: middle;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .img-profile {
    width: 40px;
    height: 40px;
  }

  .toolbar-widget {
    padding: 2px;

    .img-button {
      margin-left: 0;
      margin-right: 0;
    }

    @include bp-gt(tabletls) {
      padding-right: 16px;
      padding-top: 6px;
      padding-bottom: 6px;

      .img-button {
        margin-left: 2px;
        margin-right: 12px;
      }
    }

    .widget-username {
      line-height: 1.5;
      .content-title {
        font-size: 0.88rem;
        font-weight: 700;
        white-space: nowrap;
      }

      .content-subtitle {
        font-size: 0.8rem;
        white-space: nowrap;
      }
    }

    .content-icon {
      font-size: 0.8rem;
      margin-left: 15px;
    }
  }
}

.mat-menu-panel.dropdown {
  width: 350px;
  max-width: 100vw;
  overflow: hidden;
  border-radius: 16px;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }

  .dropdown-menu-header {
    margin: 20px 33px;

    .dropdown-menu-header-img {
      margin-left: 101px;
      margin-bottom: 10px;
      position: relative;
      height: 86px;
      width: 86px;

      img {
        margin-right: 6px;
        vertical-align: top;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .dropdown-menu-header-info {
      display: block;
      vertical-align: top;
      text-align: center;
      font-size: 16px;
      font-weight: 500;

      .header-name {
        letter-spacing: 0.29px;
        margin: 0;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .header-email {
        @extend .header-name;
        font-size: 0.8rem;
      }
    }
  }

  .dropdown-menu-content {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    .dropdown-menu-item {
      display: block;
      position: relative;
      white-space: nowrap;
      padding: 12px 33px 13px;

      .dropdown-menu-icons {
        margin-right: 12px;
        line-height: 1.3333em;
      }

      .dropdown-menu-icons-chevron {
        height: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }

  .dropdown-menu-footer {
    padding: 0 17px;
    text-align: center;

    a {
      display: inline-block;
      margin: 20px;
    }
  }

  .mat-menu-item {
    line-height: 0;

    span {
      vertical-align: middle;
    }
  }
}
