@import "@angular/material/theming";

.mat-card {
  margin-bottom: 16px;
  border-radius: 16px !important;
  box-shadow: none !important;

  .card-title {
    font-family: "Questrial", arial, sans-serif;
    font-weight: 600;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    word-break: break-word;
    word-wrap: break-word;

    @media (max-width: 1023px) and (min-width: 720px), (min-width: 1048px) {
      font-size: 1.375rem;
      line-height: 1.75rem;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .card-subtitle {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    word-break: break-word;
    word-wrap: break-word;

    @media (max-width: 1023px) and (min-width: 720px), (min-width: 1048px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
