.mat-dialog-title {
  font-size: 16px !important;

  .header-img {
    width: auto;
    background: none;
    margin-right: 13px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: relative;
    overflow: hidden;

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
      top: 2px;
    }

    .img-upload {
      opacity: 1;

      .mat-icon {
        top: 0;
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.mat-dialog-container {
  border-radius: 8px !important;
}
