.mat-tab-nav-bar {
  border-width: 0;

  .mat-tab-link.mat-tab-label-active {
    opacity: 1;
  }
.mat-tab-header-pagination-before,
.mat-tab-header-pagination-after {
  box-shadow: none !important;
}

}


