@import "../abstracts/breakpoints";

// Tabelle Admin
.table-card {
  overflow: auto;
  margin: 10px 0 20px 0;
  border: 0;
}

.toolbar-actions {
  margin-bottom: 10px;
  padding: 0;
  height: 3.625rem;

  @include bp-gt(xsmall) {
    padding: 10px 0;
  }

  .toolbar-actions-search {
    border-radius: 12px;
    padding: 3px 16px;

    .mat-icon {
      font-size: 28px;
      height: 28px;
      width: 28px;
    }
  }
}

.mat-column-img {
  width: 2rem;
  min-width: 2rem;
}

.mat-table .mat-cell,
.mat-table .mat-header-cell {
  box-sizing: content-box;
  padding-right: 12px;
  padding-left: 12px;
  white-space: nowrap;
  border-bottom-width: 2px;

  .mat-slide-toggle
    > .mat-slide-toggle-label
    > .mat-slide-toggle-bar
    > .mat-slide-toggle-thumb-container {
    z-index: 0;
  }

  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 9999px;
    vertical-align: middle;
  }
}

.mat-table .mat-header-cell {
  font-size: 14px;
  font-weight: 600;
}

tr.element-row {
  cursor: pointer;
}

tr.mat-row,
tr.mat-footer-row {
  height: 57px !important;
}

.mat-paginator,
.toolbar-actions {
  position: sticky;
  left: 0;
}

.mat-paginator {
  background: none !important;
}

.mat-paginator-container {
  justify-content: flex-start !important;

  @include bp-lt(xsmall) {
    .mat-paginator-range-actions .mat-paginator-range-label {
      display: none !important;
    }
  }
}

.mat-paginator-outer-container {
  padding: 16px 0;
}

.cell-truncate-text {
  @include bp-lt(small) {
    max-width: 130px;
  }

  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-paginator .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  height: auto;
  padding: 0 0.75em 0 0.75em !important;
}

.mat-paginator-page-size {
  align-items: center !important;

  .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 5px !important;
  }
}

@include bp-gt(xdesktop) {
  tr.element-row:hover {
    transition: all 0.15s;
  }

  .mat-table-sticky {
    background: none !important;
  }
}
