.border-radius {
  border-radius: 8px;
}

.no-border {
  border: none;
}

.hidden {
  visibility: hidden;
}

.width-0 {
  width: 0 !important;
}

.height-0 {
  height: 0 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.bold {
  font-weight: 700 !important;
}

.semi-bold {
  font-weight: 600 !important;
}
