<mat-toolbar class="toolbar" color="primary">
  <div class="fm-menu" matRipple (click)="[sidenav.toggle(), buttonToggle()]">
    <div class="menu-wrap" [class.open]="open">
      <div class="line half start"></div>
      <div class="line body-text"></div>
      <div class="line half end"></div>
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="sidenavRight.toggle()" class="m-x-4">
    <i class="ri-notification-2-line ri-xl"></i>
  </button>
  <button mat-icon-button class="m-x-4">
    <mat-icon
      style="width: 20px; height: 20px; line-height: 20px"
      [svgIcon]="isDarkMode ? 'lightbulb' : 'lightbulb-off'"
      (click)="toggleDarkMode()"
    ></mat-icon>
  </button>
  <div
    [matMenuTriggerFor]="toolbarUserMenu"
    matRipple
    fxLayout
    fxLayoutAlign="start center"
    class="toolbar-widget rounded-all cursor-pointer m-l-12"
  >
    <button class="img-button" mat-icon-button disableRipple="true">
      <img class="img-profile rounded-all" [src]="user.imageUrl" />
    </button>
    <div fxHide fxShow.gt-sm class="widget-username">
      <div class="content-title title">{{ user.name }}</div>
      <div class="content-subtitle secondary-text">
        {{ teamName || "Libero" }}
      </div>
    </div>
    <i
      fxHide
      fxShow.gt-sm
      class="content-icon ri-arrow-down-s-line ri-xl dropdown-menu-icons"
    ></i>
  </div>

  <mat-menu
    #toolbarUserMenu="matMenu"
    xPosition="before"
    yPosition="below"
    [overlapTrigger]="false"
    class="dropdown"
  >
    <div class="dropdown-menu-header">
      <div class="dropdown-menu-header-img">
        <img class="img-profile" [src]="user.imageUrl" />
      </div>
      <div class="dropdown-menu-header-info">
        <h4 class="header-name m-b-0">{{ user.name }}</h4>
        <div class="header-email secondary-text">{{ user.email }}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-menu-content">
      <a
        routerLink="/profile"
        matRipple
        class="dropdown-menu-item items-center"
      >
        <i class="ri-user-settings-line ri-lg dropdown-menu-icons"></i>
        <div fxFlex="auto">Profilo</div>
        <i
          fxFlex="none"
          class="ri-arrow-drop-right-line ri-xl dropdown-menu-icons-chevron-right"
        ></i>
      </a>
    </div>
    <div class="dropdown-menu-footer">
      <a mat-stroked-button (click)="logout()" color="primary"
        >Esci dal tuo account</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
