$my-black-theme-primary: (
  50 : #e4e4e5,
  100 : #bcbcbd,
  200 : #909092,
  300 : #636466,
  400 : #414245,
  500 : #202124,
  600 : #1c1d20,
  700 : #18181b,
  800 : #131416,
  900 : #0b0b0d,
  A100 : #5454ff,
  A200 : #2121ff,
  A400 : #0000ed,
  A700 : #0000d4,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$my-black-theme-accent: (
  50 : #f1f6fe,
  100 : #dce9fd,
  200 : #c5dafc,
  300 : #adcbfa,
  400 : #9cbff9,
  500 : #8ab4f8,
  600 : #82adf7,
  700 : #77a4f6,
  800 : #6d9cf5,
  900 : #5a8cf3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f2f6ff,
  A700 : #d9e5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-black-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    #bdc1c6,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  snack-bar: rgba(black, 0.87),
);

$mat-black-theme-background: (
  sidebar: #2A2B2E,
  status-bar: black,
  app-bar:    mat-color($my-black-theme-primary, 500),
  toolbar-brand: #E91E63,
  background: mat-color($my-black-theme-primary, 500),
  hover:      rgba(white, 0.08), // TODO(kara): check style with Material Design UX
  card:       #2A2B2E,
  dialog:     #2A2B2E,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  snack-bar: white,
  tooltip: white
);

@function fmxls-mat-black-theme(
  $primary,
  $accent,
  $warn: mat-palette($mat-red)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-black-theme-foreground,
    background: $mat-black-theme-background
  );
}

$custom-black-theme-primary: mat-palette($my-black-theme-primary);
$custom-black-theme-accent: mat-palette($my-black-theme-accent);
$custom-black-theme-warn: mat-palette($mat-red);

$fmxls-black-theme: fmxls-mat-black-theme(
  $custom-black-theme-primary,
  $custom-black-theme-accent,
  $custom-black-theme-warn
);
