@use "@angular/material" as mat;
$black-fmxls-theme-primary: (
  50: #e0f9f6,
  100: #b3f0ea,
  200: #80e7dc,
  300: #4dddcd,
  400: #26d5c3,
  500: #00ceb8,
  600: #00c9b1,
  700: #00c2a8,
  800: #00bca0,
  900: #00b091,
  A100: #dafff7,
  A200: #a7ffed,
  A400: #74ffe2,
  A700: #5affdd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$black-fmxls-theme-accent: (
  50: #fcfdff,
  100: #f7fbff,
  200: #f2f9ff,
  300: #edf6ff,
  400: #e9f4ff,
  500: #e5f2ff,
  600: #e2f0ff,
  700: #deeeff,
  800: #daecff,
  900: #d3e8ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-black-theme-foreground: (
  base: white,
  divider: #3a465b,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: #797979,
  icon: #677897,
  icons: #677897,
  text: #b9c4d4,
  text-inverse: black,
  title: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  snack-bar: rgba(black, 0.87),
);

$mat-black-theme-background: (
  sidebar: #1f2431,
  toolbar: #181c28,
  status-bar: black,
  app-bar: mat.get-color-from-palette($my-black-theme-primary, 500),
  toolbar-brand: #1f2431,
  background: #181c28,
  hover: #292e3d,
  card: #2e3748,
  dialog: #2e3748,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get(mat.$grey-palette, 800),
  focused-button: $light-focused,
  selected-button: map_get(mat.$grey-palette, 900),
  selected-disabled-button: map_get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get(mat.$grey-palette, 700),
  disabled-list-option: black,
  snack-bar: white,
  tooltip: white,
  input: #181c28,
);

@function fmxls-mat-black-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-black-theme-foreground,
    background: $mat-black-theme-background
  );
}

$custom-black-theme-primary: mat.define-palette($black-fmxls-theme-primary);
$custom-black-theme-accent: mat.define-palette($black-fmxls-theme-accent);
$custom-black-theme-warn: mat.define-palette(mat.$red-palette);

$fmxls-black-theme: fmxls-mat-black-theme(
  $custom-black-theme-primary,
  $custom-black-theme-accent,
  $custom-black-theme-warn
);
