@use "@angular/material" as mat;
$my-black-theme-primary: (
  50: #e4eaf6,
  100: #bccae9,
  200: #8fa6db,
  300: #6282cd,
  400: #4068c2,
  500: #1e4db7,
  600: #1a46b0,
  700: #163da7,
  800: #12349f,
  900: #0a2590,
  A100: #bec8ff,
  A200: #8b9dff,
  A400: #5872ff,
  A700: #3f5dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$my-black-theme-accent: (
  50: #e7f9f0,
  100: #c4efd9,
  200: #9ce5bf,
  300: #74dba5,
  400: #57d392,
  500: #39cb7f,
  600: #33c677,
  700: #2cbe6c,
  800: #24b862,
  900: #17ac4f,
  A100: #e0ffea,
  A200: #adffc9,
  A400: #7affa7,
  A700: #60ff96,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-black-theme-foreground: (
  base: white,
  divider: #4a4754,
  dividers: #4a4754,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: #797979,
  icon: rgb(255 255 255 / 60%),
  icons: rgb(255 255 255 / 60%),
  text: #adb0bb,
  text-inverse: #adb0bb,
  title: #e6e5e8,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  snack-bar: rgba(black, 0.87),
);

$mat-black-theme-background: (
  sidebar: #282c34,
  toolbar: #282c34,
  toolbar-brand: #282c34,
  background: #282c34,
  card: #282c34,
  dialog: #282c34,
  hover: #1d1929,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get(mat.$grey-palette, 800),
  focused-button: $light-focused,
  selected-button: map_get(mat.$grey-palette, 900),
  selected-disabled-button: map_get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get(mat.$grey-palette, 700),
  disabled-list-option: black,
  snack-bar: white,
  tooltip: white,
  input: #282c34,
);

@function my-mat-black-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-black-theme-foreground,
    background: $mat-black-theme-background
  );
}

$custom-black-theme-primary: mat.define-palette($my-black-theme-primary);
$custom-black-theme-accent: mat.define-palette($my-black-theme-accent);
$custom-black-theme-warn: mat.define-palette(mat.$red-palette);

$my-black-theme: my-mat-black-theme(
  $custom-black-theme-primary,
  $custom-black-theme-accent,
  $custom-black-theme-warn
);
