$my-black-theme-primary: (
  50 : #e2e2e2,
    100 : #b6b6b7,
    200 : #858688,
    300 : #545658,
    400 : #2f3134,
    500 : #0a0d10,
    600 : #090b0e,
    700 : #07090c,
    800 : #050709,
    900 : #030305,
    A100 : #4d4dff,
    A200 : #1a1aff,
    A400 : #0000e6,
    A700 : #0000cd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-black-theme-accent: (
  50 : #e2eaf3,
    100 : #b6cbe2,
    200 : #85a8cf,
    300 : #5485bc,
    400 : #2f6bad,
    500 : #0a519f,
    600 : #094a97,
    700 : #07408d,
    800 : #053783,
    900 : #032772,
    A100 : #a1b8ff,
    A200 : #6e92ff,
    A400 : #3b6cff,
    A700 : #2159ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-black-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    #797979,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
  snack-bar: rgba(black, 0.87),
);

$mat-black-theme-background: (
  sidebar: #11171D,
  status-bar: black,
  app-bar:    mat-color($my-black-theme-primary, 500),
  toolbar-brand: #11171D,
  toolbar-active: #11171D,
  background: mat-color($my-black-theme-primary, 500),
  hover:      rgba(white, 0.08),
  card:       #11171D,
  dialog:     #11171D,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  snack-bar: white,
  tooltip: white
);

@function my-mat-black-theme(
  $primary,
  $accent,
  $warn: mat-palette($mat-red)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $mat-black-theme-foreground,
    background: $mat-black-theme-background
  );
}

$custom-black-theme-primary: mat-palette($my-black-theme-primary);
$custom-black-theme-accent: mat-palette($my-black-theme-accent);
$custom-black-theme-warn: mat-palette($mat-red);

$my-black-theme: my-mat-black-theme(
  $custom-black-theme-primary,
  $custom-black-theme-accent,
  $custom-black-theme-warn
);
