@use "@angular/material" as mat;
$my-white-theme-primary: (
  50: #f1e9fd,
  100: #dcc9fb,
  200: #c5a5f9,
  300: #ad81f6,
  400: #9c66f4,
  500: #8a4bf2,
  600: #8244f0,
  700: #773bee,
  800: #6d33ec,
  900: #5a23e8,
  A100: #ffffff,
  A200: #f3efff,
  A400: #cdbcff,
  A700: #baa2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-white-theme-accent: (
  50: #ffedef,
  100: #ffd2d8,
  200: #ffb5be,
  300: #ff97a4,
  400: #ff8091,
  500: #ff6a7d,
  600: #ff6275,
  700: #ff576a,
  800: #ff4d60,
  900: #ff3c4d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe5e7,
  A700: #ffcbcf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-light-theme-foreground: (
  base: black,
  divider: #e5e5e5,
  dividers: #e5e5e5,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: #b8b8b8,
  icon: #747775,
  icons: #a2a2a2,
  text: rgba(58, 53, 65, 0.87),
  text-inverse: #fff,
  text-menu: rgba(58, 53, 65, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  snack-bar: white,
);

$mat-light-theme-background: (
  sidebar: #f4f5fa,
  toolbar: #f4f5fa,
  toolbar-brand: #f4f5fa,
  background: #f4f5fa,
  card: white,
  border-card: #e5e5e5,
  dialog: white,
  hover: rgba(58, 53, 65, 0.04),
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
  snack-bar: #202124,
  tooltip: #202124,
  input: rgba(58, 53, 65, 0.04),
  table-search: #fff,
);

@function my-mat-light-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background
  );
}

$custom-white-theme-primary: mat.define-palette($my-white-theme-primary);
$custom-white-theme-accent: mat.define-palette($my-white-theme-accent);
$custom-white-theme-warn: mat.define-palette(mat.$red-palette);

$my-white-theme: my-mat-light-theme(
  $custom-white-theme-primary,
  $custom-white-theme-accent,
  $custom-white-theme-warn
);
