@use '~@angular/material' as mat;
$light-fmxls-theme-primary: (
  50: #e0f3fe,
  100: #b3e2fd,
  200: #80cffb,
  300: #4dbbf9,
  400: #26adf8,
  500: #009ef7,
  600: #0096f6,
  700: #008cf5,
  800: #0082f3,
  900: #0070f1,
  A100: #ffffff,
  A200: #e5efff,
  A400: #b2d1ff,
  A700: #98c2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-fmxls-theme-accent: (
  50: #ffe7ee,
  100: #fec4d5,
  200: #fd9db9,
  300: #fc759d,
  400: #fc5888,
  500: #fb3a73,
  600: #fa346b,
  700: #fa2c60,
  800: #f92556,
  900: #f81843,
  A100: #ffffff,
  A200: #fff6f8,
  A400: #ffc3cd,
  A700: #ffaab8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

mat.$light-theme-foreground-palette: (
  base: black,
  divider: #e8e8ea,
  dividers: #e8e8ea,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: #b5b5b3,
  icon: #5e6278,
  icons: #5e6278,
  text: #5e6278,
  text-inverse: white,
  button-text: white,
  title: #181c32,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  snack-bar: white,
);

mat.$light-theme-background-palette: (
  sidebar: #f0f4f6,
  toolbar: #f0f4f6,
  toolbar-brand: #f2f3f5,
  background: #f0f4f6,
  card: white,
  dialog: white,
  hover: #f1faff,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
  snack-bar: #202124,
  tooltip: #202124,
  input: #f5f8fa,
);

@function fmxls-mat-light-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: mat.$light-theme-foreground-palette,
    background: mat.$light-theme-background-palette
  );
}

$custom-white-theme-primary: mat.define-palette($light-fmxls-theme-primary);
$custom-white-theme-accent: mat.define-palette($light-fmxls-theme-accent);
$custom-white-theme-warn: mat.define-palette(mat.$red-palette);

$fmxls-light-theme: fmxls-mat-light-theme(
  $custom-white-theme-primary,
  $custom-white-theme-accent,
  $custom-white-theme-warn
);
