$light-fmxls-theme-primary: (
  50: #fefeff,
  100: #fcfdfe,
  200: #fafcfe,
  300: #f7fbfe,
  400: #f6fafd,
  500: #f4f9fd,
  600: #f3f8fd,
  700: #f1f7fc,
  800: #eff6fc,
  900: #ecf5fc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-fmxls-theme-accent: (
  50: #e1f0ed,
  100: #b5dbd1,
  200: #84c3b3,
  300: #53aa94,
  400: #2e987d,
  500: #098666,
  600: #087e5e,
  700: #067353,
  800: #056949,
  900: #025638,
  A100: #88ffcc,
  A200: #55ffb6,
  A400: #22ffa0,
  A700: #08ff95,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-light-theme-foreground: (
  base: black,
  divider: #dadce0,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: #a2a8b1,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: #010101,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  snack-bar: white,
);

$mat-light-theme-background: (
  sidebar: white,
  app-bar: mat-color($light-fmxls-theme-accent, 500),
  toolbar-brand: white,
  toolbar-active: mat-color($light-fmxls-theme-accent, 500),
  background: #f4f9fd,
  card: white,
  dialog: white,
  hover: rgba(black, 0.04),
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  snack-bar: #202124,
  tooltip: #202124,
);

@function fmxls-mat-light-theme(
  $primary,
  $accent,
  $warn: mat-palette($mat-red)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background
  );
}

$custom-white-theme-primary: mat-palette($light-fmxls-theme-primary);
$custom-white-theme-accent: mat-palette($light-fmxls-theme-accent);
$custom-white-theme-warn: mat-palette($mat-red);

$fmxls-light-theme: fmxls-mat-light-theme(
  $custom-white-theme-primary,
  $custom-white-theme-accent,
  $custom-white-theme-warn
);
