@use "@angular/material" as mat;
$my-white-theme-primary: (
  50: #ffe1eb,
  100: #ffb3cc,
  200: #ff81aa,
  300: #fe4e88,
  400: #fe286f,
  500: #fe0255,
  600: #fe024e,
  700: #fe0144,
  800: #fe013b,
  900: #fd012a,
  A100: #ffffff,
  A200: #fff1f2,
  A400: #ffbec5,
  A700: #ffa4ae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-white-theme-accent: (
  50: #ecf0ff,
  100: #d0d9ff,
  200: #b1bfff,
  300: #91a5fe,
  400: #7a92fe,
  500: #627ffe,
  600: #5a77fe,
  700: #506cfe,
  800: #4662fe,
  900: #344ffd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #dde1ff,
  A700: #c3cbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-light-theme-foreground: (
  base: black,
  divider: #d6dbe6,
  dividers: #d6dbe6,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: #9facbc,
  icon: #67728f,
  icons: #67728f,
  text: #03113b,
  text-inverse: #fff,
  text-menu: #424065,
  title: #04184f,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  snack-bar: white,
);

$mat-light-theme-background: (
  sidebar: #03001f,
  toolbar: #f0f4f6,
  toolbar-brand: #03001f,
  background: #f0f4f6,
  card: white,
  dialog: white,
  hover: #f9f9f9,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get(mat.$grey-palette, 300),
  selected-disabled-button: map_get(mat.$grey-palette, 400),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200),
  snack-bar: #202124,
  tooltip: #202124,
  input: #d9e1ec,
);

@function my-mat-light-theme(
  $primary,
  $accent,
  $warn: mat.define-palette(mat.$red-palette)
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background
  );
}

$custom-white-theme-primary: mat.define-palette($my-white-theme-primary);
$custom-white-theme-accent: mat.define-palette($my-white-theme-accent);
$custom-white-theme-warn: mat.define-palette(mat.$red-palette);

$my-white-theme: my-mat-light-theme(
  $custom-white-theme-primary,
  $custom-white-theme-accent,
  $custom-white-theme-warn
);
