@use "@angular/material" as mat;
@import "@angular/material/theming";

@function custom-mat-dark-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: mat.$dark-theme-foreground-palette,
    background: mat.$dark-theme-background-palette
  );
}

@function negativify-map($map) {
  $result: ();

  @each $key, $value in $map {
    @if $key !=0 {
      $result: map-merge($result, ("-" + $key: (-$value)));
    }
  }

  @return $result;
}
