.flex {
  display: flex !important;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@include bp-gt(small) {
  .flex-row-sm {
    flex-direction: row;
  }
  .m-t-24-sm {
    margin-top: 24px;
  }
  .m-b-24-sm {
    margin-bottom: 24px;
  }
  .m-l-24-sm {
    margin-left: 24px;
  }
  .m-r-24-sm {
    margin-right: 24px;
  }
}
