@use '~@angular/material' as mat;
@import '~@angular/material/theming';


@mixin theme-setup($theme, $colors) {
  @include mat.all-component-themes($theme);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  color: map-get($foreground, text);
}
