@use "@angular/material" as mat;

@mixin fmxls-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-flat-button.mat-primary,
  .mat-mini-fab.mat-primary {
    color: mat.get-color-from-palette($foreground, button-text);
  }

  .mat-icon-button,
  .mat-icon {
    color: mat.get-color-from-palette($foreground, icon);
  }

  .mat-raised-button:not([class*="mat-elevation-z"]) {
    box-shadow: none;
    background-color: mat.get-color-from-palette($background, card);
  }

  .mat-raised-button:not(.mat-button-disabled):active:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}
