@import ".~@angular/material/theming";

@mixin fmxls-card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-card {
    border: 1px solid mat-color($foreground, divider);
  }

  .mat.card .card-title {
    color: mat-color($foreground, title);
  }
}
