@use "@angular/material" as mat;

@mixin fmxls-form-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  a,
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
  .mat-form-field.mat-focused .mat-form-field-label {
    color: mat.get-color-from-palette($primary);
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: mat.get-color-from-palette($primary);
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: mat.get-color-from-palette($foreground, text);
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-label,
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    color: mat.get-color-from-palette($warn);
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: mat.get-color-from-palette($warn);
  }

  .mat-input-element {
    caret-color: mat.get-color-from-palette($foreground, text);
  }

  .mat-pseudo-checkbox-checked {
    background: mat.get-color-from-palette($primary) !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: mat.get-color-from-palette($foreground, divider);
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: mat.get-color-from-palette($background, input);
  }
}
