@use "@angular/material" as mat;

@import "../abstracts/breakpoints";

@mixin fmxls-layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  // Sidebar
  .sidenav {
    background-color: mat.get-color-from-palette($background, sidebar);
    border-right: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .list .list-item {
    color: mat.get-color-from-palette($foreground, text-menu);
    font-weight: 500;

    &.active,
    &:hover {
      background: rgba(mat.get-color-from-palette($primary, default), 0.15);
      color: lighten(mat.get-color-from-palette($primary, default), 0);
    }

    .mat-ripple-element {
      background-color: mat.get-color-from-palette($primary, 200, 0.3);
    }
  }

  // Notification
  .side-notification {
    background-color: mat.get-color-from-palette($background, sidebar);
  }

  .notification-title {
    background-color: mat.get-color-from-palette($background, toolbar);
    color: mat.get-color-from-palette($foreground, text);
  }

  .notification-container {
    .notification-item {
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  // Auth
  .auth-wrapper {
    background: mat.get-color-from-palette($background, background);
  }

  .mat-sidenav-content {
    background: mat.get-color-from-palette($background, background);
  }

  .toolbar-brand {
    background: mat.get-color-from-palette($background, toolbar-brand);
  }

  .toolbar {
    background: mat.get-color-from-palette($background, toolbar) !important;
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
    color: mat.get-color-from-palette($foreground, icon) !important;
  }

  .auth-logo {
    @if $is-dark {
      background-image: url("../../assets/images/logo-white.png");
    } @else {
      background-image: url("../../assets/images/logo.png");
    }
  }

  .brand {
    @if $is-dark {
      background-image: url("../../assets/images/logo-white.png");
    } @else {
      background-image: url("../../assets/images/fmxls-logo-main.png");
    }
  }
}
