@import '.~@angular/material/theming';

@mixin fmxls-snackbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .snack-custom.mat-snack-bar-container  {
    background-color: mat-color($background, snack-bar);
    color: mat-color($foreground, snack-bar);
    font-weight: 500;
  }

  .snack-error-custom.mat-snack-bar-container  {
    background-color: $fm-red-a700;
    color: white;
    font-weight: 500;
  }

  .mat-simple-snackbar-action button {
    color: $fm-blue-grey-900;
    font-weight: 700;
  }
}
