@import '.~@angular/material/theming';
@import '../abstracts/breakpoints';

@mixin fmxls-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .table-card {
    background-color: mat-color($background, card);
    @include mat-elevation(2);

    .toolbar-actions {
      background-color: mat-color($primary, 700);

      h3 {
        border-right: 1px solid mat-color($foreground, divider);
      }

      .toolbar-actions-search {
        background-color: mat-color($background, card);

        input {
          border-width: 0;
          outline: none;
          background-color: transparent;
          color: inherit;
        }

      }
    }
  }

  tr.element-row:hover {
    @include bp-gt(desktop) {
    background: mat-color($background, hover);

    .mat-table-sticky {
      background: none;
    }
    }
  }

  .mat-table .mat-cell img,
  .mat-table .mat-header-cell img {
    background-color: mat-color($background, hover);
  }

}
