@use "@angular/material" as mat;

@import "../abstracts/breakpoints";

@mixin fmxls-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .table-card {
    background-color: mat.get-color-from-palette($background, card);
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
  }

  .toolbar-actions {
    background: mat.get-color-from-palette($background, input);
    h5 {
      border-right: 1px solid mat.get-color-from-palette($foreground, divider);
    }

    .toolbar-actions-search {
      input {
        border-width: 0;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .mat-table .mat-cell img,
  .mat-table .mat-header-cell img {
    background-color: mat.get-color-from-palette($background, hover);
  }

  .mat-table .mat-header-cell {
    color: mat.get-color-from-palette($foreground, text);
  }

  td.mat-cell,
  th.mat-header-cell {
    border-bottom-color: mat.get-color-from-palette($background, background);
  }

  .mat-cell {
    color: mat.get-color-from-palette($foreground, text);
  }

  .mat-sort-header-content {
    font-weight: 600;
  }
}
