@use "@angular/material" as mat;

@import "../abstracts/breakpoints";

@mixin fmxls-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .table-card {
    background-color: mat.get-color-from-palette($background, card);
    box-shadow: rgb(58 53 65 / 10%) 0px 2px 10px 0px !important;
  }

  .toolbar-btn {
    button {
      background: mat.get-color-from-palette($background, card);
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  .toolbar-actions {
    .toolbar-actions-search {
      background: mat.get-color-from-palette($background, table-search);

      input {
        border-width: 0;
        outline: none;
        background-color: transparent;
        color: mat.get-color-from-palette($foreground, text);
      }
    }
  }

  .mat-table .mat-cell img,
  .mat-table .mat-header-cell img {
    background-color: mat.get-color-from-palette($background, hover);
  }

  .mat-table .mat-header-cell {
    color: mat.get-color-from-palette($foreground, title);
  }

  td.mat-cell,
  th.mat-header-cell {
    border-bottom-color: mat.get-color-from-palette($background, background);
  }

  @include bp-gt(desktop) {
    tr.element-row:hover {
      background-color: mat.get-color-from-palette($background, hover);
      transition: 0.3s all;
    }
  }
}
