@use "@angular/material" as mat;

@mixin fmxls-typography-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: mat.get-color-from-palette($foreground, title);
  }
}
