@import '.~@angular/material/theming';

@mixin fmxls-utils-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  // Bordo
  .border {
    border: 1px solid mat-color($foreground, divider);
  }

  .border-top {
    border-top: 1px solid mat-color($foreground, divider);
  }

  .border-bottom {
    border-bottom: 1px solid mat-color($foreground, divider);
  }

  .border-0 {
    border-width: 0;
  }

  // Testo
  .muted {
    color: mat-color($foreground, secondary-text);
  }

  .disabled {
    color: mat-color($foreground, disabled-button);
  }

  .text-primary {
    color: mat-color($foreground, text);
  }

  .secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  .text-red {
    color: $fm-red;
  }

  .text-green {
    color: $fm-green;
  }

  .text-deep-orange {
    color: $fm-deep-orange;
  }

  .text-purple {
    color: $fm-purple;
  }

  // Background
  .hover:hover {
    background-color: mat-color($background, hover);
    transition: 0.3s all;
  }
  .bg-hover
  {
    background-color: mat-color($background, hover);
  }

  // Background

  .bg-accent {
    background-color: mat-color($accent);
    color: white;
  }

  .bg-red {
    background-color: $fm-red;
    color: white;
  }

  .bg-green {
    background-color: $fm-green;
    color: white;
  }

  // Tooltip
  .tooltip {
    background-color: mat-color($background, tooltip);
    color: mat-color($accent, default-contrast, 500);
  }

}
