<div fxLayoutAlign="start center" class="mat-dialog-title">
  <h2 class="m-b-0" fxFlex="auto">Incontri {{fixtures.tournamentName}}</h2>
  <button mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <ng-container *ngFor="let fixture of matchesItem; let i = index">
    <div class="matchday-item p-t-16 p-b-16">
      <div fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center" class="matchday-title m-b-16">
          <span>Giornata {{ i + 1 }}</span>
        </div>
      </div>
      <ng-container *ngFor="let match of fixture">
        <div fxLayoutAlign="space-between center">
          <div fxLayout="column">
            <div class="p-y-12">
              <div class="team-name">
                <span>{{match.homeTeam.teamName}}</span>
              </div>
              <div class="team-name m-t-4">
                <span>{{match.awayTeam.teamName}}</span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>

  </ng-container>
</mat-dialog-content>

