<mat-toolbar class="toolbar">
  <div class="fm-menu" matRipple (click)="[sidenav.toggle(), buttonToggle()]">
    <div class="menu-wrap" [class.open]="open">
      <div class="line half start"></div>
      <div class="line"></div>
      <div class="line half end"></div>
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="themeSwitch" class="m-x-4">
    <mat-icon>wb_sunny</mat-icon>
  </button>
  <mat-menu #themeSwitch="matMenu" xPosition="before">
    <div class="switch-theme-list">
      <mat-radio-group class="theme-list" [(ngModel)]="selectedTheme">
        <mat-radio-button
          *ngFor="let theme of themes"
          [value]="theme"
          (click)="setTheme(theme)"
        >
          {{ theme.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-menu>
  <button
    class="m-x-4"
    mat-icon-button
    [matMenuTriggerFor]="toolbarUserMenu"
    disableRipple="true"
  >
    <img class="img-profile" [src]="user.imageUrl" />
  </button>
  <mat-menu
    #toolbarUserMenu="matMenu"
    xPosition="before"
    yPosition="below"
    [overlapTrigger]="false"
    class="dropdown"
  >
    <div class="dropdown-menu-header">
      <div class="dropdown-menu-header-img">
        <img class="img-profile" [src]="user.imageUrl" />
      </div>
      <div class="dropdown-menu-header-info">
        <h4 class="header-name title m-b-0">{{ user.name }}</h4>
        <div class="header-email secondary-text">{{ user.email }}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="dropdown-menu-content">
      <a routerLink="/" matRipple class="dropdown-menu-item">
        <mat-icon class="dropdown-menu-icons material-icons-outlined"
          >home</mat-icon
        >
        <div fxFlex="auto">Vai al sito</div>
        <mat-icon
          class="dropdown-menu-icons-chevron-right material-icons-outlined"
          fxFlex="none"
          >chevron_right</mat-icon
        >
      </a>
    </div>
    <div class="dropdown-menu-footer">
      <a mat-stroked-button (click)="logout()" color="primary"
        >Esci dal tuo account</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
