<div fxLayout fxLayoutAlign="start center" class="page-header m-b-32 m-t-12">
  <div fxFlex="1 1 auto" class="page-header-title">Competizioni</div>
</div>
<div
  gdColumn="1/span 12"
  gdColumns="repeat(12,minmax(0,1fr))"
  gdGap="16px 32px"
  gdGap.xs="16px 0"
>
  <div
    class="home-tournament-page"
    gdColumns.gt-md="repeat(2,minmax(0,1fr))"
    gdGap="16px 32px"
    gdGap.xs="16px 0"
    gdColumn="span 8"
    gdColumn.lt-md="span 12"
  >
    <ng-container *ngFor="let tournament of tournaments">

        <mat-card
          class="m-b-0 cursor-pointer"
          routerLink="/fixtures/{{ tournament._id }}"
        >
          <div class="tournament-content" fxLayoutAlign>
            <div class="tournament-logo m-r-24">
              <img [src]="tournament.img | images: 'tournaments'" />
            </div>
            <div fxLayoutAlign="center center">
              <span class="tournament-title">{{ tournament.tournamentName }}</span>
            </div>
          </div>
        </mat-card>

    </ng-container>
  </div>

  <div
    class="home-tournament-page"
    gdColumn="span 4"
    gdGap="16px 32px"
    gdGap.xs="16px 0"
    gdColumn.lt-md="span 12"
  >
    <mat-card>
      <div fxLayout="column">
        <mat-card-title>Ciao Ciro mane</mat-card-title>
      </div>
    </mat-card>
  </div>
</div>
