<div class="container-wrap">
  <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-sidenav-container class="sidenav-container" autosize fullscreen>
    <mat-sidenav
      #sidenav
      autoFocus="false"
      [mode]="sidenavMode"
      [opened]="sidenavOpened"
      class="sidenav"
    >
      <mat-toolbar class="toolbar-brand">
        <div class="brand" routerLink="/admin-home"></div>
      </mat-toolbar>
      <app-admin-sidenav (sidenavClose)="sidenav.close()"></app-admin-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div
        class="main-container"
        [@routeAnimations]="
          o.isActivated &&
          o.activatedRoute.routeConfig.data &&
          o.activatedRoute.routeConfig.data.title
        "
      >
        <app-admin-topnav [sidenav]="sidenav"></app-admin-topnav>
        <div class="main-content">
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            class="page-header m-b-32"
          >
            <div class="page-header-title" fxFlexOrder="0" fxFlex="1 0 0">
              <h3 class="m-b-0 title">{{ title }}</h3>
            </div>
          </div>
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
