// Functions and helpers
@import "abstracts/abstracts";

// Base
@import "base/reset";

// Components
@import "components/components";

// Layouts
@import "layouts/layouts";

// Material theme
@import "material/material";

@import "~@angular/material/theming";

// Custom typography
// h1 = headline
// h2 = title
// h3 = subheading-2
// h4 = subheading-1
// h5-h6 = vedi _reset
$fmxls-typography: mat-typography-config(
  $font-family: "Poppins, arial, sans-serif",
  $body-1: mat-typography-level(14px, 1.5, 400),
  $headline:
    mat-typography-level(3.052rem, 1.5rem, 600, '"Poppins", arial, sans-serif'),
  $title:
    mat-typography-level(2.3rem, 1.5rem, 600, '"Poppins", arial, sans-serif'),
  $subheading-2:
    mat-typography-level(1.953rem, 1.5, 600, '"Poppins", arial, sans-serif'),
  $subheading-1:
    mat-typography-level(1.4rem, 1.5, 600, '"Poppins", arial, sans-serif'),
  $button: mat-typography-level(14px, 24px, 500, '"Poppins", arial, sans-serif'),
  $input:
    mat-typography-level(inherit, 1.125, 400, '"Poppins", arial, sans-serif'),
);

@include mat-core($fmxls-typography);

// Themes
@import "themes/light-theme", "themes/black-theme", "themes/light-fmxls-theme",
  "themes/black-fmxls-theme";

@mixin custom-components-theme($theme) {
  @include fmxls-utils-theme($theme);
  @include fmxls-card-theme($theme);
  @include fmxls-button-theme($theme);
  @include fmxls-form-theme($theme);
  @include fmxls-layout-theme($theme);
  @include fmxls-menu-theme($theme);
  @include fmxls-snackbar-theme($theme);
  @include fmxls-table-theme($theme);
}

.light-theme {
  @include angular-material-theme($my-white-theme);
  @include custom-components-theme($my-white-theme);
}

.black-theme {
  @include angular-material-theme($my-black-theme);
  @include custom-components-theme($my-black-theme);
}

.fmxls-light-theme {
  @include angular-material-theme($fmxls-light-theme);
  @include custom-components-theme($fmxls-light-theme);
}

.fmxls-black-theme {
  @include angular-material-theme($fmxls-black-theme);
  @include custom-components-theme($fmxls-black-theme);
}
