// Functions and helpers
@use "@angular/material" as mat;
@import "abstracts/abstracts";

// Base
@import "base/reset";

// Components
@import "components/components";

// Layouts
@import "layouts/layouts";

// Material theme
@import "material/material";

// Icons
@import "remixicon/fonts/remixicon.css"; // Custom typography
// h1 = headline
// h2 = title
// h3 = subheading-2
// h4 = subheading-1
// h5-h6 = vedi _reset
$fmxls-typography: mat.define-typography-config(
  $font-family: "Poppins, arial, sans-serif",
  $body-1: mat.define-typography-level(14px, 1.5, 400),
  $headline:
    mat.define-typography-level(
      3.052rem,
      1.5rem,
      700,
      '"Poppins", arial, sans-serif'
    ),
  $title:
    mat.define-typography-level(
      2rem,
      1.5rem,
      700,
      '"Poppins", arial, sans-serif'
    ),
  $subheading-2:
    mat.define-typography-level(
      1.853rem,
      1.5,
      700,
      '"Poppins", arial, sans-serif'
    ),
  $subheading-1:
    mat.define-typography-level(
      1.4rem,
      1.5,
      700,
      '"Poppins", arial, sans-serif'
    ),
  $button:
    mat.define-typography-level(14px, 24px, 500, '"Poppins", arial, sans-serif'),
  $input:
    mat.define-typography-level(
      inherit,
      1.125,
      500,
      '"Poppins", arial, sans-serif'
    ),
);

@include mat.core($fmxls-typography);

// Themes
@import "themes/light-theme", "themes/black-theme";

@mixin custom-components-theme($theme) {
  @include fmxls-utils-theme($theme);
  @include fmxls-card-theme($theme);
  @include fmxls-button-theme($theme);
  @include fmxls-form-theme($theme);
  @include fmxls-layout-theme($theme);
  @include fmxls-menu-theme($theme);
  @include fmxls-snackbar-theme($theme);
  @include fmxls-table-theme($theme);
  @include fmxls-typography-theme($theme);
}

@include mat.all-component-themes($my-white-theme);
@include custom-components-theme($my-white-theme);

.black-theme {
  @include mat.all-component-themes($my-black-theme);
  @include custom-components-theme($my-black-theme);
}
