@import "../../../../style/abstracts/breakpoints";

:host {
  display: flex;
  flex-direction: column;
  margin: auto;

  .tournament-title {
    text-align: center;
    margin-right: 45px;
  }

  .match-container {
    max-width: calc(calc((100vw - 2 * 2.5rem)) + 0px);
    padding: 4px 4px 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    @include bp-gt(medium) {
      padding: 8px 16px 0;
    }
    .team-container {
      place-items: center;
      .team-logo {
        width: 48px;

        @include bp-gt(xdesktop) {
          width: 70px;
        }

        .wrap-logo {
          border-radius: 50%;
          padding: 15%;

          .t-logo {
            padding-bottom: 100%;
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;

            .pic-image {
              width: 100%;
              height: 100%;
              position: absolute;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }

      .team-name {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;

        @include bp-gt(xdesktop) {
          font-size: 16px;
        }
      }
    }

    .score-container {
      .score {
        max-width: 6ch;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        white-space: nowrap;
        font-weight: 700;
      }

      .match-state {
        line-height: 25px;
      }
    }
  }
}
