.team-panel {
  text-align: center;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 10px;

  .img-profile {
    margin: 0 auto 8px;
    width: 82px;
    height: 82px;
    padding: 4px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .team-name {
    font-size: 18px;
    font-weight: 500;
  }

}
