<div class="container-wrap">
  <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav
      #sidenav
      autoFocus="false"
      [mode]="sidenavMode"
      [opened]="sidenavOpened"
      class="sidenav"
      position="start"
    >
      <mat-toolbar class="toolbar-brand">
        <div class="brand" routerLink="/"></div>
      </mat-toolbar>
      <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav
      #sidenavRight
      autoFocus="false"
      position="end"
      class="side-notification"
    >
      <app-notification
        (sidenavRightClose)="sidenavRight.close()"
      ></app-notification>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-container">
        <app-topnav
          [sidenavRight]="sidenavRight"
          [sidenav]="sidenav"
        ></app-topnav>
        <div
          class="main-content"
          [@routeAnimations]="
            o.isActivated &&
            o.activatedRoute.routeConfig.data &&
            o.activatedRoute.routeConfig.data.title
          "
        >
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
