<div fxLayoutAlign="start center" class="mat-dialog-title">
  <button
    appDropZone
    (click)="file.click()"
    (dropped)="onUploadImg($event)"
    class="header-img cursor-pointer"
  >
    <img [src]="teamToUpdate.img | images: 'teams'" />
    <div class="img-upload">
      <mat-icon>camera_alt</mat-icon>
    </div>
    <input
      [hidden]="true"
      type="file"
      id="file"
      (change)="onUploadImg($event.target.files[0])"
      #file
    />
  </button>
  <h5 class="m-b-0" fxFlex="auto">{{ teamToUpdate.teamName }}</h5>
  <button mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="editTeamForm" (ngSubmit)="onSubmitForm()">
  <mat-dialog-content>
    <mat-form-field class="w-100 m-t-12">
      <mat-label>Nome Squadra</mat-label>
      <input
        cdkFocusInitial
        matInput
        autocomplete="name"
        autocorrect="off"
        formControlName="teamName"
      />
      <mat-error *ngIf="formError.teamName">
        {{ formError.teamName }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annulla</button>
    <button
      mat-button
      type="submit"
      color="primary"
      [disabled]="!editTeamForm.valid"
    >
      Salva
    </button>
  </mat-dialog-actions>
</form>
