<div fxLayout fxLayoutAlign="start center" class="m-t-4 toolbar-actions">
  <div
    class="toolbar-actions-search"
    fxFlex="400px"
    fxFlex.lt-md="auto"
    fxLayout
    fxLayoutAlign="start center"
  >
    <mat-icon>search</mat-icon>
    <input
      class="p-x-16 full-width"
      placeholder="Cerca utenti..."
      type="text"
      (keyup)="doFilter($event)"
    />
  </div>
</div>
<mat-paginator
  [pageSize]="50"
  [pageSizeOptions]="[5, 10, 25, 50, 100]"
></mat-paginator>
<div class="table-card border-radius">
  <table
    #table
    mat-table
    class="full-width"
    [dataSource]="dataSource"
    matSort
    matSortActive="createdAt"
    matSortDirection="desc"
  >
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let users">
        <img [src]="users.img | images: 'users'" alt="" class="img-profile" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td
        class="cell semi-bold cell-truncate-text"
        mat-cell
        *matCellDef="let users"
      >
        {{ users.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td class="cell" mat-cell *matCellDef="let users">{{ users.email }}</td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ruolo</th>
      <td
        class="cell"
        mat-cell
        *matCellDef="let users"
        (click)="$event.stopPropagation()"
      >
        <div fxLayoutAlign="start center" fxLayoutGap="4px">
          <div
            *ngIf="users.role === 'ADMIN_ROLE'"
            fxFlex="none"
            class="p-x-8 p-y-4 m-r-4"
          >
            Admin
          </div>
          <div
            *ngIf="users.role === 'USER_ROLE'"
            fxFlex="none"
            class="p-x-8 p-y-4 m-r-4"
          >
            Utente
          </div>
          <div fxFlex="none" fxLayoutAlign="center center">
            <mat-icon (click)="select.open()">keyboard_arrow_down</mat-icon>
            <mat-select
              #select
              [(ngModel)]="users.role"
              (selectionChange)="editRole(users)"
              class="hidden width-0 height-0"
            >
              <mat-option value="ADMIN_ROLE">Admin</mat-option>
              <mat-option value="USER_ROLE">Utente</mat-option>
            </mat-select>
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Data Registrazione
      </th>
      <td class="cell" mat-cell *matCellDef="let users">
        {{ users.createdAt | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Modifica</th>
      <td class="cell" mat-cell *matCellDef="let users">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            (click)="update(dataSource.data.indexOf(users))"
          >
            <mat-icon class="material-icons-outlined">create</mat-icon>
            Modifica
          </button>
          <button
            mat-menu-item
            (click)="delete(dataSource.data.indexOf(users))"
          >
            <mat-icon class="material-icons-outlined">delete</mat-icon>
            Elimina
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="element-row"
      mat-row
      *matRowDef="let users; columns: displayedColumns"
      (click)="update(dataSource.data.indexOf(users))"
    ></tr>
  </table>
</div>
