<form [formGroup]="addDatabaseForm" (ngSubmit)="onSubmitForm()">
  <div fxLayoutAlign="start center" class="mat-dialog-title">
    <h5 class="m-b-0" fxFlex="auto">Nuovo Database</h5>
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <mat-form-field class="w-100 m-t-24">
      <mat-label>Sorgente</mat-label>
      <mat-select placeholder="Seleziona un sito" formControlName="source">
        <mat-option value="sofifa">Sofifa</mat-option>
        <mat-option value="pesdb">Pesdb</mat-option>
      </mat-select>
      <mat-error *ngIf="formError.source">
        {{ formError.source }}
      </mat-error>
    </mat-form-field>
    <div class="m-b-16">
      <div fxLayoutAlign="start start" class="p-y-12">
        <div
          fxLayoutAlign="start"
          class="m-t-2 m-r-16"
          fxFlex="0 0 0"
          style="width: 24px; height: 24px"
        >
          <mat-icon class="text-red material-icons-outlined">info</mat-icon>
        </div>
        <div>
          <h5 class="m-b-12">Avvertenza</h5>
          <p>
            Tempo stimato per il completamento: 30 - 60 minuti, in base alla
            velocità della connessione.
          </p>
          <p>
            Durante il processo puoi continuare a navigare normalmente, sarai
            avvisato tramite notifica al completamento.
          </p>
          <p>
            Se perdi la connessione, clicca il menu "Riconnetti" e ripeti il
            processo.
          </p>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annulla</button>
    <button
      mat-button
      type="submit"
      color="primary"
      [disabled]="!addDatabaseForm.valid"
    >
      Salva
    </button>
  </mat-dialog-actions>
</form>
