<div fxLayout="column" fxLayoutAlign="center flex-start" class="page-header">
  <div fxLayout fxLayoutAlign="space-between center" class="w-100">
    <div>
      <h4 class="m-b-4">Manager</h4>
      <span class="secondary-text semi-bold">
        Gestisci e modifica gli allenatori
      </span>
    </div>
    <div fxHide fxShow.gt-xs>
      <button (click)="filterData()" mat-raised-button class="m-r-16">
        <i
          *ngIf="!isFiltered; else elseBlock"
          class="ri-filter-line ri-lg m-r-4"
        ></i>
        <ng-template #elseBlock>
          <i class="ri-filter-off-line ri-lg m-r-4"></i>
        </ng-template>
        <span>Filtra</span>
      </button>
      <button (click)="add()" mat-raised-button>
        <i class="ri-add-line ri-lg m-r-4"></i>
        <span>Nuovo</span>
      </button>
    </div>
    <div fxHide fxShow.lt-sm class="toolbar-btn">
      <button (click)="filterData()" mat-icon-button class="m-x-4">
        <i *ngIf="!isFiltered; else elseBlock" class="ri-filter-line ri-lg"></i>
        <ng-template #elseBlock>
          <i class="ri-filter-off-line ri-lg"></i>
        </ng-template>
      </button>
      <button (click)="add()" mat-icon-button class="m-x-4">
        <i class="ri-add-line ri-lg m-r-4"></i>
      </button>
    </div>
  </div>
</div>

<div fxLayout fxLayoutAlign="start center" class="m-t-4 toolbar-actions">
  <div
    class="toolbar-actions-search"
    fxFlex="300px"
    fxFlex.lt-sm="auto"
    fxLayout
    fxLayoutAlign="start center"
  >
    <i class="secondary-text ri-search-2-line ri-xl"></i>
    <input
      class="p-x-16 p-y-12 w-100"
      placeholder="Cerca manager..."
      type="text"
      (keyup)="applyFilter($event.target.value)"
    />
  </div>
</div>
<div class="table-card border-radius">
  <table
    #table
    [hidden]="noItems"
    mat-table
    class="w-100"
    [dataSource]="dataSource"
    matSort
    matSortActive="createdAt"
    matSortDirection="desc"
  >
    <ng-container matColumnDef="img" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let managers">
        <img
          [src]="managers.img | images: 'users'"
          alt=""
          class="img-profile"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="user" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager</th>
      <td
        class="cell semi-bold cell-truncate-text title"
        mat-cell
        *matCellDef="let managers"
      >
        {{ managers.user }}
      </td>
    </ng-container>
    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Squadra</th>
      <td class="cell" mat-cell *matCellDef="let managers">
        {{ managers.team }}
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Creazione</th>
      <td class="cell" mat-cell *matCellDef="let managers">
        {{ managers.createdAt | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Modifica</th>
      <td class="cell" mat-cell *matCellDef="let managers">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            (click)="update(dataSource.data.indexOf(managers))"
          >
            <mat-icon class="material-icons-outlined">create</mat-icon>
            Modifica
          </button>
          <button
            mat-menu-item
            (click)="delete(dataSource.data.indexOf(managers))"
          >
            <mat-icon class="material-icons-outlined">delete</mat-icon>
            Elimina
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="element-row"
      mat-row
      *matRowDef="let managers; columns: displayedColumns"
      (click)="update(dataSource.data.indexOf(managers))"
    ></tr>
  </table>

  <div [hidden]="!noItems" class="no-data-found-wrapper">
    <div class="no-data-found">
      <div class="no-data-found-container">
        <div class="no-data-found-img">
          <img src="assets/images/no_data.png" />
        </div>
        <div class="no-data-found-text">Nessun dato presente</div>
      </div>
    </div>
  </div>
  <mat-paginator
    showFirstLastButtons
    [pageSize]="50"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
  ></mat-paginator>
</div>
